h1{
	color: #FFE8E8;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 4em;
}

p{
	color: #FF9E9E;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
}

.mainbody{
	position: absolute;
	display: table;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translateX(-50%);
}

body{
	margin:0;
}

.tree{
	display:block;
	height:50%;
	float: right;
	margin: 0;
	padding:0;
}
